.navbar-color{
    background-color: black;
}

.header{
    margin-top: 10%;
    min-height: 300px;
 }


 .box1{
    position: absolute;
    height: 100px;
    width: 100px;
    background: blue;
    top: 33%;
    left: 29%;
}

.box2{
    position: absolute;
    height: 100px;
    width: 100px;
    background: blue;
    left: 65%;
    top: 55%;
}

.card{
    background-color: rgba(255,255,255,0.5) !important;
    -moz-box-shadow:    inset 0 0 10px rgba(255,255,255,0.7);
    -webkit-box-shadow: inset 0 0 10px rgba(255,255,255,0.7);
    box-shadow:         inset 0 0 10px rgba(255,255,255,0.7);
    backdrop-filter: blur(10px);
}

.footer{
    padding: 20px 50px 10px 50px;
    color: white;
    background-color: black;
 }