
.container{
    margin-top: 10%;
    min-height: 410px;
 }

.box1{
    position: absolute;
    height: 200px;
    width: 200px;
    background: blue;
    top: -20%;
    left: 18%;
}

.box2{
    position: absolute;
    height: 200px;
    width: 200px;
    background: blue;
    left: 65%;
    top: 60%;
}

.card{
    background-color: rgba(0,0,0,0.1) !important;
    -moz-box-shadow:    inset 0 0 10px rgba(255,255,255,0.7);
    -webkit-box-shadow: inset 0 0 10px rgba(255,255,255,0.7);
    box-shadow:         inset 0 0 10px rgba(255,255,255,0.7);
    backdrop-filter: blur(10px);
}

.footer{
    padding: 20px 50px 10px 50px;
    color: white;
    background-color: black;
 }